<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/css/styles.css"> 
<head>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Rubik:wght@582&display=swap" rel="stylesheet">
    <title>Recomandare lecturi</title>
</head>
<body>
    <div class="all-container">
        <div class="sidebar">
        <button class="redirect" onclick="window.location.href='/'">
            Cauta lecturi
            <span class="material-symbols-outlined" style="font-size: 48px;display: flex; justify-content: center;">search</span>
        </button>
        </script>
        <button class="redirect" onclick="window.location.href='cartilemele'">
            Cartile mele
            <span class="material-symbols-outlined" style="font-size: 48px;display: flex; justify-content: center;">collections_bookmark</span>
        </button>
        </div>


        <div class="container">
            <button class="redirect-ro" onclick="window.location.href='ro'">RO</button>
            <h1>Recomandare lecturi</h1>

            <!-- Input for book title -->
            <div class="form__group field">
                <input type="input" class="form__field" placeholder="Enter book title" name="name" id='titleInput' required />
                <label for="name" class="form__label">Nume</label>
                <br>
                <button style="font-family: Rubik" onclick="getRecommendations(document.getElementById('titleInput').value)">Genereaza recomandari</button>
            </div>
            <!-- Container for displaying book recommendations -->
            <div id="recommendationsContainer"></div>
        </div>

    <script src="../static/js/index_recom.js"></script>

</div>
</body>
</html>